/* For vedio to Fill Whole Screen */

#myVideo  {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add Some Content */
.content  {
    position: fixed;
    color: #ffffff;
    width:auto;
    padding: 20px;
    text-align: center;
}

.container {
    position: absolute;
    bottom: 8px;
    left: 16px;
}


.container1 {

    text-align: center;
    position: absolute;
    top: 80px;
    left: 16px;
}

